<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menu page</title>
</head>
<body>
<table id="nav-menu" width="100%">
    <tr>
        <td align="center">
            <table>
                <tr>
                    <td>Menu -></td>
                    <td><a th:href="@{/}">Home</a></td>
                    <td><a th:href="@{/products}">Products</a></td>
                    <td sec:authorize = "hasAnyAuthority ('ADMIN')"><a th:href="@{/users}">Users</a></td> <!--чтобы список юзеров видел только админ-->
                    <td sec:authorize = "isAuthenticated()"><a th:href = "@{/bucket}">Bucket</a></td> <!--чтобы карзину видели только авторизованные пользователи-->
                </tr>
            </table>
        </td>

        <td align="right">
            <div sec:authorize = "isAuthenticated()">
                <div>
                    Hello, <a th:href="@{/users/profile}"><span sec:authentication="principal.username">Bill</span></a> <!--сылка на личные данные авторизованного пользователя-->
                </div>
                <div>
                    <a th:href = "@{logout}">Logout</a> <!--сама функция logout усть в security, поэтому самя ее не писал-->
                </div>
            </div>

            <div sec:authorize = "!isAuthenticated()">
                <div>
                    Hello, Unknown. Please <a th:href="@{/login}">Login</a>
                </div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>