<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1" align="center">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td></td>
    </tr>
     <tr th:each="product : ${products}">
         <td th:text = "${product.name}">Milk</td>
         <td th:text = "${product.price}">90.0</td>
         <td th:text = "${product.description}">Dairy product</td>
         <td><a th:href="@{/products/{id}/bucket(id=${product.id})}">Add to bucket</a></td>
    </tr>
</table>

</body>
</html>